* {
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: rgb(71, 71, 71);
}

#app {
  overflow-y: scroll;
  background-color: #f7f7f7;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.banner-text {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 25px;
  max-width: 40%;
}

/* used to make images circular */
.circle-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  box-shadow: 0 0 30px -5px;
  /* position: absolute;
  margin: -150px 0;
  left: calc(50% - 150px); */
}

.divider {
  width: 70%;
  margin: 0 15%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

.headshot {
  width: 100%;
  height: auto;
}

.icon {
  height: 75px;
  margin: 20px;
}

.icon-row {
  display: flex;
  justify-content: center;
}

/* changes the color of images (e.g. white to black, and vice versa) */
.invert {
  filter: invert(100%);
}

.navbar {
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar a {
  /* color: rgb(71, 71, 71); */
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

/* transition effects for all nav-links except the header "Marshall Zobel" */
.nav-left a:hover:not(:first-child),
.nav-right a:hover {
  transform: scale(1.1);
}

.project-section {
  display: flex;
  align-items: center;
  padding: 70px;
}
.project-section div {
  text-align: center;
  padding: 0 50px;
}

.resume-category {
  color: #afafaf;
}
.resume-description {
  padding: 5px 25px;
}

.screenshot {
  max-height: 400px;
}
.screenshot-desktop {
  max-width: 800px;
  border: 5px solid #f7f7f7;
  box-shadow: 0 0 30px -5px;
}

.small-icon {
  height: 30px;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
}

/* this is the vertical line */
.timeline-container::before {
  content: '';
  position: absolute;
  left: calc(50% - 2.5px);
  height: 100%;
  width: 5px;
  background: slategray;
}
/* Vertical line styling for responsive layouts */
/* top: 0; */
/* bottom: 0; */
/* left: 18px; */

.timeline-block {
  display: flex;
  align-items: center;
  margin: 20px 100px;
}
.timeline-block:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-container {
  margin: 50px;
  position: relative;
}

.timeline-date {
  margin: 0 10%;
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: relative;
  width: 43%;
  padding: 10px;
  box-shadow: 0 0 20px -5px;
  border-radius: 10px;
}

.timeline-marker {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: calc(50% - 15px);
  background-color: slategray;
}

/* Responsive designs */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .banner-text {
    max-width: 100%;
  }
  .icon {
    margin: 15px 5px;
  }
  .icon-row {
    flex-wrap: wrap;
  }
  .navbar {
    padding: 0;
    justify-content: flex-start;
  }
  .nav-left {
    flex-direction: column;
    align-items: baseline;
  }
  .nav-right {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    justify-content: center;
    opacity: 100%;
    z-index: 2;
  }
  .project-section {
    flex-direction: column;
    padding: 20px 10px;
  }
  .project-section:last-child {
    padding-bottom: 75px;
  }
  .project-section div {
    padding: 0;
  }
  .screenshot {
    max-height: 300px;
    margin: 20px 0;
  }
  .screenshot-desktop {
    max-width: 80%;
    margin: 20px 0;
  }
  .sub-section {
    text-align: center;
  }
  .timeline-block,
  .timeline-block:nth-child(even) {
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
  }
  .timeline-block:last-child {
    margin-bottom: 75px;
  }
  /* this is the vertical line */
  .timeline-container::before {
    left: 1%;
  }
  .timeline-container {
    margin: 0 0 0 20px;
  }
  .timeline-date {
    display: none;
  }
  .timeline-item {
    width: 75%;
  }
  .timeline-marker {
    left: calc(1% - 12.5px);
  }
}
