* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  overflow-y: scroll;
}

.navbar {
  background: linear-gradient(to right, rgb(0, 112, 28), rgb(170, 175, 255));
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.25s;
}

.navbar a:hover:not(:first-of-type) {
  background-color: white;
  color: navy;
  /* transform: scale(1.1); */
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

/* used to make images circular */
.circle-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.headshot {
  width: 100%;
  height: auto;
}

.banner-text p {
  font-family: 'Anonymous Pro', monospace;
}

.icon {
  width: 100px;
}

.about {
  /* border-top: 1px solid rgb(68, 93, 110); */
}

.about-block {
  padding: 50px;
}

.about-block:nth-child(odd) {
  background-color: #f7f7f7;
}

/* this is the vertical line */
.timeline-container::before {
  content: '';
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  /* left: 18px; */
  left: 50%;
  height: 80%;
  width: 5px;
  background: #d7e4ed;
}

.timeline-container {
  color: white;
  background-color: navy;
}
